@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat.ttf);
}

@font-face {
  font-family: "Nunito";
  src: url(fonts/Nunito.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}

:root {
  --green: #156963;
  --black: #2c1500;
  --lightgray: #f2f2f2;
  --darkgray: #333333;
  --hovergreen: #10504c;
  --hoverlightgray: #ddf1e9;
  --lightborder: #E0E0E0;
}

.wrapper {
  padding: 40px 56px;
}

.light {
  color: var(--green);
  background: #fff;
}

.green {
  background: var(--green);
  color: #fff;
}

/* header styles start */

.header-wrapper {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-items {
  display: flex;
  align-items: center;
}

.header-items-svg-wrap {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-right: 15px;
}

.header-item-svg {
  width: 20px;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.header-items-autorize {
  height: 100%;
}
.sign-up,
.sign-in {
  height: 100%;
  font-family: "Nunito";
  font-weight: 600;
  padding: 8px 20px;
  font-size: 14px;
  transition: 0.2s linear;
}

/* header styles end */

/* top section styles start */

.top-section {
  display: flex;
}

.top-section-img {
  height: 100vh;
}

.top-section-main {
  position: relative;
  padding: 0 72px 0 77px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.top-section-main-title {
  font-size: 68px;
  color: var(--green);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 24px;
}

.top-section-main-text {
  color: var(--black);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.top-section-button-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
}
.top-section-btn {
  padding: 39px 49px;
  width: 50%;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 49px;
  transition: 0.2s linear;
  cursor: pointer;
}

.btn-description {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
  margin-bottom: 12px;
}
.btn-description-dark {
  color: var(--darkgray);
  background: url(img/svg/arrow-left-dark.svg) no-repeat left center;
  padding-left: 40px;
}

.btn-description-light {
  color: var(--lightgray);
  background: url(img/svg/arrow-right-light.svg) no-repeat 65px center;
  padding-right: 40px;
}

/* top section styles end */


/* section 2 styles start */
.s2-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 100px;
    gap: 32px;
}

.s2-card {
    border: 1px solid var(--lightborder);
    padding: 22px 16px 21px 16px;
}

.s2-card-title {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 16px;
}

.s2-card-title-svg {

}

.s2-card-title-text {
    color: var(--green);
}

.s2-card-p {

}


/* section 2 styles end */


/* Hovers */

.green:hover {
  background: var(--hovergreen);
}

.light:hover {
  background: var(--hoverlightgray);
}


@media screen and (max-width: 1250px) {

    .wrapper {
        padding: 40px 15px;
    }
    /* Header media */

    /* Header media */

    /* top section media */
   .top-section {
    flex-wrap: wrap;
   }
   .top-section-main {
    justify-content: start;
    height: fit-content;
    padding: 0;
   }
   .top-section-img-wrap {
    margin: 0 auto;
   }
   .top-section-img {
    max-width: 100vw;
    height: auto;
   }
    .top-section-main-title {
        font-size: 35px;
        margin-top: 25px;
    }

    .top-section-main-text {
        font-size: 18px;
    }

    .top-section-main-title, .top-section-main-text {
        padding: 0 20px;
    }

    .top-section-button-wrap {
        position: relative;
        margin-top: 25px;
    }

    .top-section-btn {
        padding: 25px 30px;
    }
    /* top section media */


    /* section 2 media */
    .s2-card {
        grid-column: span 2;
    }

    .s2-cards {
        padding-top: 50px;
    }
    /* section 2 media */
}

@media screen and (max-width: 550px) {
    .top-section-btn {
        padding: 10px 15px;
        font-size: 18px;
    }

    .btn-description {
        font-size: 18px;
    }

    .s2-card {
        grid-column: span 4;
    }
}